footer {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  color: rgba(84, 84, 84, 1);
  padding-top: 29px;
  padding-bottom: 29px;
}

.copyright {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
