@mixin retina {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}

.head {
  margin: 0 auto;
  max-width: 480px;

  padding-top: 40px;
  padding-bottom: 44px;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56) 40%,
      rgba(0, 0, 0, 0.56) 40%
    ),
    url(../jpg/main-bg-mob-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2f303a;

  @include retina {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56) 40%,
        rgba(0, 0, 0, 0.56) 40%
      ),
      url(../jpg/main-bg-mob@2x-min.jpg);
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56) 40%,
        rgba(0, 0, 0, 0.56) 40%
      ),
      url(../jpg/main-bg-tablet-min.jpg);

    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56) 40%,
          rgba(0, 0, 0, 0.56) 40%
        ),
        url(../jpg/main-bg-tablet@2x-min.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56) 40%,
        rgba(0, 0, 0, 0.56) 40%
      ),
      url(../jpg/main-desktop-min.jpg);

    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56) 40%,
          rgba(0, 0, 0, 0.56) 40%
        ),
        url(../jpg/main-desktop@2x-min.jpg);
    }
  }
}

.head__library {
  margin: 0 auto;
  max-width: 480px;

  padding-top: 40px;
  padding-bottom: 60px;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56) 40%,
      rgba(0, 0, 0, 0.56) 40%
    ),
    url(../jpg/library-mob-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2f303a;

  @include retina {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56) 40%,
        rgba(0, 0, 0, 0.56) 40%
      ),
      url(../jpg/library-mob@2x-min.jpg);
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56) 40%,
        rgba(0, 0, 0, 0.56) 40%
      ),
      url(../jpg/library-tab-min.jpg);

    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56) 40%,
          rgba(0, 0, 0, 0.56) 40%
        ),
        url(../jpg/library-tab@2x-min.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56) 40%,
        rgba(0, 0, 0, 0.56) 40%
      ),
      url(../jpg/library-desktop-min.jpg);

    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56) 40%,
          rgba(0, 0, 0, 0.56) 40%
        ),
        url(../jpg/library-desktop@2x-min.jpg);
    }
  }
}

.search-form {
  margin: 54px 20px 16px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;

  @media screen and (min-width: 768px) {
    max-width: 336px;
    margin: 40px auto 20px auto;
  }
  @media screen and (min-width: 768px) {
    max-width: 394px;
  }
}

input {
  background-color: transparent;
  border: none;
  outline: transparent;
  color: white;
  line-height: 16px;
  &::placeholder {
    color: white;
    line-height: 16px;
  }

  // transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button {
  // padding: 12px 12px;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media screen and (min-width: 1280px) {
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.head__logo {
  display: flex;
  align-items: center;
}

.logo__text {
  margin-left: 8px;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: white;

  @media screen and (max-width: 767px) {
    color: transparent;
    font-size: 10px;
  }
}

.head__link--home {
  position: relative;
  margin: 0px 40px 0px 0px;
  padding: 0;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.head__link--library {
  position: relative;
  margin: 0;
  padding: 0;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.notification {
  color: red;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  @media screen and (min-width: 768px) {
    text-align: center;
  }
}

.current::after {
  content: '';
  position: absolute;
  display: block;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 3px;
  background-color: red;
}

.library__buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;

  @media screen and (min-width: 768px) {
    gap: 32px;
  }
  @media screen and (min-width: 1280px) {
    gap: 16px;
  }
}

.queue,
.watched {
  padding: 12px 36px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

.current-button {
  border: 1px solid #ff6b01;
  background-color: #ff6b01;
}
