// Style will work only from this breakpoint
@mixin respond-from-min($breakpoint) {
  @media screen and (min-width: #{$breakpoint}) {
    @content;
  }
}

// Style will work only to this breakpoint
@mixin respond-to-max($breakpoint) {
  @media screen and (max-width: #{$breakpoint}) {
    @content;
  }
}

@mixin allSpace() {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
