.backdrop__modal {
    display: none;
}
.backdrop__modal.is-hidden{
    width: 100%;
    height: 100%;
    opacity: 1;
    background: $primary-drop-shadow-color;
    transition: opacity .25s cubic-bezier(.4, 0, .2, 1), visibility .25s cubic-bezier(.4, 0, .2, 1);
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
}
.footer__modal {
    display: none;
}
.footer__modal.is-hidden {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 610px;
    background-color: $secondary-color-light;
    border-radius: 15px;
    box-shadow: 0px 3px 3px rgb(0 0 0 / 12%), 0px 3px 3px rgb(0 0 0 / 14%), 0px 3px 3px rgb(0 0 0 / 20%);
}
    @media screen and (max-width: 767px) {
        .footer__modal {
            width: 400px;
            height: 510px;
        }
    }
.footer__team {
    height: 100%;
    display: flex;
}
.footer__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
    .footer__list {
        height: 100%;
        overflow-y: scroll;
    }
}
.footer__item {
    position: relative;
    width: 180px;
    height: 190px;
    background-color: $primary-color-light;
    border-radius: 10%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 1px 1px rgb(0 0 0 / 20%);
}
@media screen and (max-width: 480px) {
    .footer__modal {
        width: 230px;
    }
}
.footer__item:hover {
    box-shadow: 0px 2px 2px rgb(0 0 0 / 18%), 0px 2px 2px rgb(0 0 0 / 18%), 0px 2px 2px rgb(0 0 0 / 28%);
}
.footer__item:focus {
    box-shadow: 0px 2px 2px rgb(0 0 0 / 18%), 0px 2px 2px rgb(0 0 0 / 18%), 0px 2px 2px rgb(0 0 0 / 28%);
}
.footer__photo {
    display: block;
    margin: 0 auto;
    border-radius: 18%;
    padding-top: 4px;
    width: 150px;
    height: 123px;
    box-shadow: 2px 5px 5px rgb(0 0 0 /24%);
}
.footer__name {
    display: block;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}
.footer__worker {
    display: block;
    text-align: center;
    padding-top: 5px;
    font-size: 13px;
}
.footer__social {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    bottom: 7px;
}
.footer__social-circle {
display: flex;
justify-content: center;
align-items: center;
    background-color: $secondary-color-light;
    width: 38px;
    height: 38px;
    border-radius: 50%;
}
.footer__social-circle:hover {
    box-shadow: 0px 2px 2px rgb(0 0 0 / 18%), 0px 2px 2px rgb(0 0 0 / 18%), 0px 2px 2px rgb(0 0 0 / 28%);
}
.footer__social-circle:focus {
    box-shadow: 0px 2px 2px rgb(0 0 0 / 18%), 0px 2px 2px rgb(0 0 0 / 18%), 0px 2px 2px rgb(0 0 0 / 28%);
}
.footer__social-svg {
    width: 24px;
    height: 24px;
    fill: $primary-color;
}
.footer__about {
    padding-top: 10px;
}
.footer__block {
    display: none;
}
.footer__block.is-hidden {
    position: absolute;
    z-index: 2;
    top: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 60px;
    background-color: $primary-color-light;
    border-radius: 15px;
    border: solid 1px $accent-color-fill;
    box-shadow: 0px 1px 1px rgb(0 0 0 /24%);
    top: 45%;
    left: 25%;
}
@media screen and (max-width: 767px) {
    .footer__block {
        left: 5%;
    }
}
@media screen and (max-width: 480px) {
    .footer__block {
        width: 175px;
        height: 35px;
        border-radius: 8px;
    }
}
.footer__block-title {
    text-transform: uppercase;
    font-size: 45px;
}

@media screen and (max-width: 480px) {
    .footer__block-title {
        font-size: 20px;
    }
    }

    @media screen and (max-width: 480px) {
        .footer__block {
            left: 12%;
        }
    }
    .modal__open {
        cursor: pointer;
    }