.backdrop-info {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  overflow-y: scroll;
  transition: opacity $anim-dur $anim-func, visibility $anim-dur $anim-func;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-info {
  width: 806px;
  min-height: 558px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px 12px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.modal__btn-close {
  background: scroll;
  border: none;
  text-align: center;
  /* margin: 4px; */
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 16px;
  transition: transform 0.3s;
  box-sizing: border-box;
  padding: 0;
}

.material-icons {
  display: block;
}

.modal__btn-close:hover {
  transform: rotate(90deg);
}

.modal_detail-ul {
  list-style: none;
  display: flex;
}
.modal_detail-ul1 {
  list-style: none;
}
.modal_detail-ul2 {
  list-style: none;
}
.modal_about {
  height: 154px;
}
button {
  cursor: pointer;
}
.btn {
  width: 136px;
  height: 44px;
  left: 799px;
  top: 553px;
  border: 1px solid #000000;
  border-radius: 5px;
}
.modal_button {
  display: flex;
}
.btn:focus {
  background: #ff6b01;
  border: 1px solid #ffffff;
}
.button-watch {
  margin-left: 8px;
  padding-top: 14px;
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.button-queue {
  margin-left: 15px;
  padding-top: 14px;
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.button-watch:focus,
.button-queue:focus {
  color: #ffffff;
}
