.footer__model {
    display: none;
}
.footer__modal.is-hidden {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 237px;
    left: auto;
    width: 774px;
    height: 940px;
    background-color: #f7f7f7;
    border-radius: 75px;
    box-shadow: 0px 3px 3px rgb(0 0 0 / 12%), 0px 3px 3px rgb(0 0 0 / 14%), 0px 3px 3px rgb(0 0 0 / 20%);
}
.footer__team {
    display: flex;
}
.footer__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.footer__item {
    position: relative;
    width: 230px;
    height: 290px;
    background-color: #fff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 1px 1px rgb(0 0 0 / 20%);
}
.footer__photo {
    display: block;
    margin: 0 auto;
    width: 227px;
    height: 210px;
    box-shadow: 0px 1px 1px rgb(0 0 0 /24%);
}
.footer__name {
    display: block;
    text-align: center;
    padding-top: 5px;
    font-size: 16px;
}
.footer__worker {
    display: block;
    text-align: center;
    padding-top: 5px;
    font-size: 13px;
}
.footer__social {
    position: absolute;
    display: flex;
    justify-content: space-between;
    gap: 134px;
    bottom: 18px;
}
.footer__social-circle {
display: flex;
justify-content: center;
align-items: center;
    background-color: #f7f7f7;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.footer__social-svg {
    width: 34px;
    height: 34px;
    fill: black;
}