.modal {
  //   border: 4px, red;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 806px;
  min-height: 558px;
  background-color: #c0bcbc;
  border-radius: 5px;
  transition: transform, 250ms, linear;
  padding: 40px;
}

.modal_vis {
  display: block;
}

#close_modal {
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-weight: bold;
  font-family: Times, sans-serif;
  /* border-radius: 50%;
  border: none; */
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  transform: rotate(45deg);
  transition: all 0.6s;
  box-sizing: content-box;
}
#close_modal:hover {
  color: rgba(0, 0, 0, 1);
  transform: rotate(135deg);
}
