.backdrop-info {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity $anim-dur, visibility $anim-dur $anim-func;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-info {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: scroll;
  margin: 0;

  padding-top: 48px;
  padding-bottom: 41px;
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100vw - 30px);
  max-width: 350px;
  height: calc(100vh - 30px);
  max-height: 650px;

  background-color: $primary-color-light;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  @media screen and (min-width: 768px) {
    padding: 40px;
    max-width: 704px;
    max-height: 552px;
    display: flex;
  }

  @media screen and (min-width: 1280px) {
    max-width: 806px;
    height: auto;
    padding: 40px 12px;
    overflow: hidden;
  }
}

.modal__btn-close {
  background: scroll;
  border: none;
  text-align: center;
  /* margin: 4px; */
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 16px;
  transition: transform 0.3s;
  box-sizing: border-box;
  padding: 0;
}

.material-icons {
  display: block;
}

.modal__btn-close:hover {
  transform: rotate(90deg);
}

.img-thumb {
  min-width: 240px;
  height: 357px;
  flex-basis: 50%;

  @media screen and (min-width: 768px) {
    min-width: 264px;
    height: 377px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 375px;
    height: 478px;
  }
}

.modal_img {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  object-fit: cover;
}
.modal_info {
  flex-basis: 50%;

  @media screen and (min-width: 768px) {
    margin-left: 68px;
    max-width: 264px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 16px;
    max-width: 391px;
  }
}
.modal_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  color: #000000;
  margin-top: 20px;
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.17;
  }
}
.modal_detail {
  margin-top: 20px;
}

.modal__movie-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;

  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: 1.17;
  }
}

.movie__info-item {
  display: flex;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.movie__info-item:last-child {
  margin-bottom: 20px;
}

.movie__info-title {
  display: block;
  min-width: 108px;
  color: $ternary-color;
}

.movie__info-data {
  display: flex;
}

.votes__colored {
  display: block;
  background-color: $accent-color-fill;
  color: $primary-color-light;
  height: 14px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 9px;
}

.vote__divide {
  display: block;
  max-width: 8px;
  color: $ternary-color;
  margin-left: 4px;
  margin-right: 7px;
}

.original-title {
  text-transform: uppercase;
}

.modal_about {
  margin-top: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
}
.modal_about-text {
  margin-top: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #000000;
}
button {
  cursor: pointer;
}
.btn {
  width: 110px;
  height: 44px;
  border: 1px solid #000000;
  border-radius: 5px;
  background: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding: 0;
}
.modal_button {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  flex-wrap: wrap;
  padding-bottom: 20px;

  @media screen and (min-width: 1280px) {
    flex-wrap: nowrap;
  }
}

.button-queue,
.button-watch {
  flex-basis: 147px;
  @media screen and (min-width: 768px) {
    flex-basis: 124px;
  }

  @media screen and (min-width: 1280px) {
    flex-basis: auto;
  }
}

.button-youtube {
  flex-basis: 100%;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1280px) {
    flex-basis: auto;
  }
}

.button-youtube:hover,
.button-youtube:focus {
  background: #ff6b01;
  border: 1px solid #ffffff;
  font-weight: 500;
  color: #ffffff;
}

.button-watch,
.button-queue {
  &[data-type='add']:hover,
  &[data-type='add']:focus {
    background: #ff6b01;
    border: 1px solid #ffffff;
    font-weight: 500;
    color: #ffffff;
  }

  &[data-type='delete'] {
    background: #ff6b01;
    border: 1px solid #ffffff;
    font-weight: 500;
    color: #ffffff;
  }

  &[data-type='delete']:hover,
  &[data-type='delete']:focus {
    background: #ffffff;
    border: 1px solid #000;
    color: #000000;
  }
}

.button-watch,
.button-queue {
  &[data-type='delete']:hover::before {
    content: 'delete';
  }
}

.button-watch {
  &[data-type='add']::before {
    content: 'add to watched';
  }

  &[data-type='delete']::before {
    content: 'in watched';
  }
}

.button-queue {
  &[data-type='add']::before {
    content: 'add to queue';
  }

  &[data-type='delete']::before {
    content: 'in queue';
  }
}

.basicLightbox {
  overflow: scroll;
}

iframe {
  width: 360px;
  height: 200px;

  @media screen and (min-width: 768px) {
    width: 704px;
    height: 396px;
  }

  @media screen and (min-width: 1280px) {
    width: 806px;
    height: 453px;
  }
}
