<footer>
  <p class="copyright">
    © 2020 | All Rights Reserved | Developed with
    <span>
      <svg width="14" height="13">
        <use href="./svg/sprite.svg#icon-favorite"></use>
      </svg>
    </span>
    <span class="modal__open">
    by GoIT Students
  </span>
  </p>
  <div class="footer__modal">
    <div class="footer__block">
      <h2 class="footer__block-title">madevelopers</h2>
    </div>
    <div class="footer__team">
      <ul class="footer__list">
        <li class="footer__item">
            <img class="footer__photo" src="#" alt="">
            <div class="footer__about">
              <h3 class="footer__name">name</h3>
              <text class="footer__worker">about work</text>
            <ul class="footer__social">
              <li class="footer__social-circle">
                <a href="" class="footer__social-link">
                  <svg class="footer__social-svg">
                    <use href="/src/svg/sprite.svg#svg-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="footer__social-circle">
                <a href="" class="footer__social-link">
                  <svg class="footer__social-svg">
                    <use href="/src/svg/sprite.svg#svg-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="footer__item">
          <img class="footer__photo" src="#" alt="">
          <div class="footer__about">
            <h3 class="footer__name">name</h3>
            <text class="footer__worker">about work</text>
          <ul class="footer__social">
            <li class="footer__social-circle">
              <a href="" class="footer__social-link">
                <svg class="footer__social-svg">
                  <use href="/src/svg/sprite.svg#svg-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="footer__social-circle">
              <a href="" class="footer__social-link">
                <svg class="footer__social-svg">
                  <use href="/src/svg/sprite.svg#svg-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        </li>
        <li class="footer__item">
          <img class="footer__photo" src="#" alt="">
          <div class="footer__about">
            <h3 class="footer__name">name</h3>
            <text class="footer__worker">about work</text>
          <ul class="footer__social">
            <li class="footer__social-circle">
              <a href="" class="footer__social-link">
                <svg class="footer__social-svg">
                  <use href="/src/svg/sprite.svg#svg-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="footer__social-circle">
              <a href="" class="footer__social-link">
                <svg class="footer__social-svg">
                  <use href="/src/svg/sprite.svg#svg-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        </li>
        <li class="footer__item">
          <img class="footer__photo" src="#" alt="">
          <div class="footer__about">
            <h3 class="footer__name">name</h3>
            <text class="footer__worker">about work</text>
          <ul class="footer__social">
            <li class="footer__social-circle">
              <a href="" class="footer__social-link">
                <svg class="footer__social-svg">
                  <use href="/src/svg/sprite.svg#svg-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="footer__social-circle">
              <a href="" class="footer__social-link">
                <svg class="footer__social-svg">
                  <use href="/src/svg/sprite.svg#svg-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        </li>
        <li class="footer__item">
          <img class="footer__photo" src="#" alt="">
          <div class="footer__about">
            <h3 class="footer__name">name</h3>
            <text class="footer__worker">about work</text>
          <ul class="footer__social">
            <li class="footer__social-circle">
              <a href="" class="footer__social-link">
                <svg class="footer__social-svg">
                  <use href="/src/svg/sprite.svg#svg-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="footer__social-circle">
              <a href="" class="footer__social-link">
                <svg class="footer__social-svg">
                  <use href="/src/svg/sprite.svg#svg-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        </li>
        <li class="footer__item">
          <img class="footer__photo" src="#" alt="">
          <div class="footer__about">
          <h3 class="footer__name">name</h3>
          <text class="footer__worker">about work</text>
          <ul class="footer__social">
            <li class="footer__social-circle">
              <a href="" class="footer__social-link">
                <svg class="footer__social-svg">
                  <use href="/src/svg/sprite.svg#svg-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="footer__social-circle">
              <a href="" class="footer__social-link">
                <svg class="footer__social-svg">
                  <use href="/src/svg/sprite.svg#svg-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        </li>
        <li class="footer__item">
          <img class="footer__photo" src="/src/images/2022-11-05 23.32.39.jpg" alt="">
          <div class="footer__about">
          <h3 class="footer__name">savaryn oleh</h3>
          <text class="footer__worker">modal-js</text>
          <ul class="footer__social">
            <li class="footer__social-circle">
              <a href="https://www.linkedin.com/in/savaryn-oleh-09ba66255/" class="footer__social-link">
                <svg class="footer__social-svg">
                  <use href="/src/svg/sprite.svg#svg-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="footer__social-circle">
              <a href="https://github.com/MendieFendie" class="footer__social-link">
                <svg class="footer__social-svg">
                  <use href="/src/svg/sprite.svg#svg-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        </li>
        <li class="footer__item">
          <img class="footer__photo" src="#" alt="">
          <div class="footer__about">
          <h3 class="footer__name">name</h3>
          <text class="footer__worker">about work</text>
          <ul class="footer__social">
            <li class="footer__social-circle">
              <a href="" class="footer__social-link">
                <svg class="footer__social-svg">
                  <use href="/src/svg/sprite.svg#svg-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="footer__social-circle">
              <a href="" class="footer__social-link">
                <svg class="footer__social-svg">
                  <use href="/src/svg/sprite.svg#svg-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        </li>
        <li class="footer__item">
          <img class="footer__photo" src="/src/images/29.08.1994.jpg" alt="">
          <div class="footer__about">
          <h3 class="footer__name">stepan almes</h3>
          <text class="footer__worker">modal-footer</text>
          <ul class="footer__social">
            <li class="footer__social-circle">
              <a href="" class="footer__social-link">
                <svg class="footer__social-svg">
                  <use href="/src/svg/sprite.svg#svg-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="footer__social-circle">
              <a href="" class="footer__social-link">
                <svg class="footer__social-svg">
                  <use href="/src/svg/sprite.svg#svg-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        </li>
      </ul>
    </div>
  </div>
</footer>
