<footer>
  <p class="copyright">
    © 2020 | All Rights Reserved | Developed with
    <span>
      <svg width="14" height="13">
        <use href="./svg/sprite.svg#icon-favorite"></use>
      </svg>
    </span>
    <h2 class="footer__team-name">madevelopers</h2>
  </p>
  <div class="footer__modal">
    <div class="footer__block">
      <h2 class="footer__block-title">madevelopers</h2>
    </div>
    <div class="footer__team">
      <ul class="footer__list">
        <li class="footer__item">
          <img class="footer__img" src="" alt="">
        </li>
      </ul>
    </div>
  </div>
</footer>
