<div class="backdrop-auth is-hidden" data-auth-modal>
  <div class="center-box" id="login-div">
    <button type="button" class="modal__auth-close" data-login-close></button>
    <h2 class="login-title">Login</h2>
    <input
      type="email"
      id="login-email"
      class="text-field"
      name="login-email"
      placeholder="Email"
      required
    />
    <br />
    <input
      type="password"
      id="login-password"
      class="text-field"
      name="login-password"
      placeholder="Password"
      required
    />
    <br />
    <button id="login-btn" class="btn-style">Login</button> <br />
    <button id="reg-btn" class="an-btn">don't have an account? REGISTER</button>
  </div>
  <div class="center-box" id="register-div">
    <button
      type="button"
      class="modal__auth-close"
      data-register-close
    ></button>
    <h2 class="login-title">Register</h2>
    <input
      type="email"
      id="register-email"
      class="text-field"
      name="register-email"
      placeholder="Email"
      required
    />
    <br />
    <input
      type="password"
      id="register-password"
      class="text-field"
      name="register-password"
      placeholder="Password"
      required
    />
    <br />
    <button id="register-btn" class="btn-style">REGISTER</button> <br />
    <button id="log-btn" class="an-btn">have an account? LOGIN</button>
  </div>
  <div id="result-box">
    <button type="button" class="modal__auth-close" data-result-close></button>
    <h3 id="result"></h3>
    <br />
  </div>
</div>
